# --------------------------------------------------
# Configuration file for running preprocessing step
# Author: Bartlomiej Hofman
# Date: 27.02.2025

# --------------------------------------------------
# Define directories for outputs and logs

RAW_READS_QC_DIR="raw_reads_QC"
MULTIQC_DIR="multiqc_reports"
CLEANED_READS_DIR="cleaned_reads"
CLEANED_READS_QC_DIR="cleaned_reads_QC"
ALIGNED_READS_DIR="aligned_reads"
ALIGNED_SORTED_DIR="sorted_alignment"
LOG_DIR="log"

# --------------------------------------------------
# Define workflow parameters - paths & threads

THREADS=12
RAW_READS_DIR="/home/bartomniej/Pulpit/workflow_test/raw_reads"
REF_GENOME_INDEX="/home/bartomniej/human_reference_genome/hisat_index/Homo_sapiens.GRCh38.index"
REFERENCE_ANNOT="/home/bartomniej/Pulpit/Isoforms/GTFs/reference/Homo_sapiens.GRCh38.110.gtf"

# --------------------------------------------------
# Software-specific parameters for each step

TRIMMOMATIC_OPTIONS="ILLUMINACLIP:/usr/share/trimmomatic/TruSeq3-SE.fa:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:20 MINLEN:50"
HISAT2_OPTIONS="--dta -p $THREADS"
SAMTOOLS_OPTIONS="-@ "$THREADS" -Sbh"